.img-header {
    max-height: 30px;
}

.icon-header {
    font-size: 24px;
    text-align: center;
}

.nav-link:not(.nav-link-tab) {
    color: #ffffff;
}

.nav-link:not(.nav-link-active):hover {
    color: var(--bs-secondary);
}

.nav-link-active {
    color: var(--bs-primary) !important;
    cursor: not-allowed;
}

.nav-link-active:hover {
    color: var(--bs-primary);
}

.nav-link-active:focus {
    color: var(--bs-primary);
}

@media (max-width: 576px) {
    .icon-text-header {
        display: table-caption;
        text-align: center;
    }
}

.navbar-toggler {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 2010;
}

.custom-header {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    z-index: 2000;
}

.custom-header.custom-header-hidden {
    top: -96px;
}

.custom-navbar {
    position: fixed;
    top: 96px;
    width: 100%;
    transition: top 0.3s;
    z-index: 2000;
}

.custom-navbar.custom-header-hidden {
    top: 0;
}

@media (max-width: 992px) {
    .custom-navbar {
        top: 142px;
    }

    .custom-header.custom-header-hidden {
        top: -142px;
    }
}

@media (max-width: 768px) {
    .custom-navbar {
        top: 158px;
    }

    .custom-header.custom-header-hidden {
        top: -158px;
    }
}

@media (max-width: 576px) {
    .custom-navbar {
        top: 182px;
    }

    .custom-header.custom-header-hidden {
        top: -182px;
    }
}

#contenido {
    padding-top: 150px;
}

@media (max-width: 992px) {
    #contenido {
        padding-top: 158px;
    }
}

@media (max-width: 768px) {
    #contenido {
        padding-top: 174px;
    }
}

@media (max-width: 576px) {
    #contenido {
        padding-top: 198px;
    }
}
